*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',sans-serif;

background:#0f172a;

color:white;

min-height:100vh;

}



/* NAVBAR */


header{

padding:30px 8%;

}


nav{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:25px;

letter-spacing:2px;

}


.logo span{

color:#38bdf8;

}



nav ul{

display:flex;

gap:35px;

list-style:none;

}



nav a{

text-decoration:none;

color:#cbd5e1;

font-size:15px;

transition:.3s;

}



nav a:hover,
.active{

color:#38bdf8;

}



/* HERO */


.hero{

min-height:85vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px 8%;

}




.card{

max-width:1100px;

width:100%;

display:flex;

gap:50px;

padding:35px;

background:

rgba(30,41,59,.75);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:
0 20px 50px rgba(0,0,0,.4);

transition:.4s;

}



.card:hover{

transform:translateY(-10px);

}



/* IMAGE */


.left{

width:45%;

}



.left img{

width:100%;

height:550px;

object-fit:cover;

border-radius:20px;

}



.left img:hover{

transform:scale(1.03);

}



/* TEXT */


.right{

width:55%;

}



.right h5{

color:#38bdf8;

letter-spacing:3px;

font-size:13px;

}



.right h1{

font-size:55px;

line-height:1.1;

margin:20px 0;

}



.right h3{

color:#06b6d4;

margin-bottom:20px;

}



.right p{

color:#cbd5e1;

line-height:1.8;

font-size:15px;

}



.info{

margin-top:25px;

}



.info p{

margin:12px 0;

color:white;

}



/* BUTTONS */


.buttons{

margin-top:30px;

display:flex;

gap:20px;

}



.buttons a{

padding:12px 25px;

border-radius:30px;

background:#38bdf8;

color:#0f172a;

text-decoration:none;

font-weight:600;

transition:.3s;

}



.buttons a:hover{

background:white;

transform:translateY(-5px);

}



/* RESPONSIVE */


@media(max-width:900px){


nav{

flex-direction:column;

gap:20px;

}


nav ul{

gap:20px;

}


.card{

flex-direction:column;

}



.left,
.right{

width:100%;

}


.left img{

height:400px;

}



.right h1{

font-size:40px;

}


}



@media(max-width:500px){


header{

padding:25px;

}



nav ul{

flex-direction:column;

align-items:center;

}



.hero{

padding:20px;

}



.card{

padding:20px;

}



.left img{

height:350px;

}



.right h1{

font-size:32px;

}



.buttons{

flex-direction:column;

}



.buttons a{

text-align:center;

}


}