*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',sans-serif;

background:#0f172a;

color:white;

}





/* NAVBAR */


header{

padding:30px 8%;

}



.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:26px;

font-weight:700;

letter-spacing:2px;

}



.logo span{

color:#38bdf8;

}



.nav-links{

display:flex;

gap:35px;

list-style:none;

}



.nav-links a{

text-decoration:none;

color:#cbd5e1;

font-size:15px;

transition:.3s;

}



.nav-links a:hover,
.active{

color:#38bdf8;

}





/* CONTACT */


.contact{

padding:40px 8%;

}



.contact-title{

text-align:center;

margin-bottom:50px;

}



.contact-title h1{

font-size:50px;

}



.contact-title h1::after{

content:"";

display:block;

height:4px;

width:80px;

background:#38bdf8;

margin:15px auto;

border-radius:20px;

}



.contact-title p{

color:#cbd5e1;

font-size:17px;

}





.contact-container{

display:flex;

justify-content:center;

gap:40px;

align-items:flex-start;

}





/* CARDS */


.contact-cards{

display:grid;

grid-template-columns:repeat(2,230px);

gap:25px;

}




.contact-card{

background:rgba(30,41,59,.8);

padding:30px;

height:180px;

border-radius:20px;

text-align:center;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

box-shadow:0 15px 40px rgba(0,0,0,.3);

}



.contact-card:hover{

transform:translateY(-10px);

border-color:#38bdf8;

}



.contact-card h2{

color:#38bdf8;

font-size:21px;

margin-bottom:20px;

}



.contact-card p{

color:#cbd5e1;

line-height:1.6;

font-size:14px;

}





/* FORM */


.message-box{

width:450px;

background:rgba(30,41,59,.8);

padding:35px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 15px 40px rgba(0,0,0,.3);

}



.message-box h2{

text-align:center;

margin-bottom:25px;

color:#38bdf8;

}



form{

display:flex;

flex-direction:column;

gap:18px;

}



input,
textarea{


padding:15px;

background:#0f172a;

border:1px solid #334155;

border-radius:10px;

color:white;

font-size:15px;

outline:none;

}



input:focus,
textarea:focus{

border-color:#38bdf8;

}



textarea{

height:130px;

resize:none;

}



button{


padding:15px;

border:none;

border-radius:30px;

background:#38bdf8;

color:#0f172a;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



button:hover{

background:white;

transform:translateY(-5px);

}






/* RESPONSIVE */


@media(max-width:1000px){


.contact-container{

flex-direction:column;

align-items:center;

}


.message-box{

width:100%;

max-width:500px;

}


}




@media(max-width:700px){



.navbar{

flex-direction:column;

gap:25px;

}



.nav-links{

gap:20px;

}



.contact-cards{

grid-template-columns:1fr;

}



.contact-title h1{

font-size:38px;

}



}