*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:#0f172a;
color:white;

}

/* NAVIGATION */

header{

padding:25px 8%;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-size:28px;
font-weight:700;

}

.logo span{

color:#38bdf8;

}

nav ul{

display:flex;
gap:35px;
list-style:none;

}

nav a{

text-decoration:none;
color:#cbd5e1;
transition:.3s;

}

nav a:hover,
.active{

color:#38bdf8;

}

/* HERO */

.hero{

min-height:90vh;

display:flex;
justify-content:space-between;
align-items:center;

padding:40px 8%;

gap:60px;

}

.hero-text{

flex:1;

}

.small-title{

letter-spacing:3px;
color:#38bdf8;
margin-bottom:20px;

}

.hero h1{

font-size:65px;
line-height:1.1;

margin-bottom:20px;

}

.hero h3{

color:#06b6d4;
margin-bottom:20px;

}

.hero p{

color:#cbd5e1;
line-height:1.8;
max-width:550px;

}

.hero-image{

flex:1;
display:flex;
justify-content:center;

}

.hero-image img{

width:100%;
max-width:430px;

border-radius:25px;

background:#1e293b;

padding:20px;

transition:.4s;

}

.hero-image img:hover{

transform:translateY(-10px);

}

/* BUTTON */

.btn,
.project-btn{

display:inline-block;

margin-top:30px;

padding:14px 28px;

background:#38bdf8;

color:#0f172a;

text-decoration:none;

font-weight:600;

border-radius:30px;

transition:.3s;

}

.btn:hover,
.project-btn:hover{

background:white;

transform:translateY(-5px);

}

/* SECTIONS */

section{

padding:80px 8%;

}

.title{

text-align:center;

font-size:45px;

margin-bottom:50px;

}

.title::after{

content:"";

display:block;

width:80px;

height:4px;

background:#38bdf8;

margin:15px auto;

}

/* CARDS */

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.card{

background:rgba(30,41,59,.8);

padding:30px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

border-color:#38bdf8;

}

.card h2{

color:#38bdf8;

margin-bottom:20px;

}

.card p{

color:#cbd5e1;

line-height:1.7;

}

/* CONTACT */

#contact{

text-align:center;

}

#contact p{

color:#cbd5e1;

margin-bottom:20px;

}

/* RESPONSIVE */

@media(max-width:900px){

.hero{

flex-direction:column-reverse;
text-align:center;

}

.hero p{

margin:auto;

}

.hero h1{

font-size:45px;

}

nav{

flex-direction:column;
gap:20px;

}

nav ul{

flex-wrap:wrap;
justify-content:center;

}

.hero-image img{

max-width:320px;

}

}

@media(max-width:500px){

.hero h1{

font-size:34px;

}

.title{

font-size:35px;

}

.btn,
.project-btn{

width:100%;
text-align:center;

}

}