*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:black;
    color:white;

}



/* =====================
        NAVBAR
===================== */


nav{

    height:80px;

    width:100%;

    background:black;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 8%;

    position:fixed;

    top:0;

    z-index:1000;

}



.logo{

    font-size:28px;

    color:white;

}



nav ul{

    display:flex;

    gap:35px;

    list-style:none;

}



nav ul a{

    color:white;

    text-decoration:none;

    font-size:17px;

    transition:.3s;

}



nav ul a:hover{

    color:#00ff66;

}



/* =====================
        HOME
===================== */


.home{

    height:100vh;

    display:flex;

    align-items:center;

    padding:0 8%;

}



.home-text{

    max-width:650px;

}



.home-text h1{

    font-size:60px;

    margin-bottom:20px;

}



.home-text p{

    color:#ccc;

    font-size:20px;

    line-height:1.6;

}



/* =====================
        ABOUT
===================== */


.about{

    min-height:100vh;

    padding:120px 8% 50px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}



.about h1{

    font-size:45px;

    margin-bottom:45px;

}



.cards{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:25px;

}




.card{

    width:250px;

    height:260px;

    padding:30px;


    background:#0d0d0d;


    border-radius:20px;


    text-align:center;


    border:1px solid #222;


    box-shadow:

    0 15px 35px rgba(0,0,0,.8),

    inset 0 0 25px rgba(0,255,102,.08);


    transition:.4s;


}




.card:hover{

    transform:translateY(-15px);


    border-color:#00ff66;


    box-shadow:

    0 0 30px rgba(0,255,102,.5);


}




.card h2{

    color:#00ff66;

    margin-bottom:20px;

}



.card p{

    color:#ccc;

    line-height:1.6;

}



/* =====================
        PROJECTS
===================== */


#projects{

    min-height:70vh;

}



#projects .card{

    height:230px;

}



/* =====================
        CONTACT
===================== */


.contact{

    min-height:100vh;

    padding:100px 8% 50px;


    display:flex;

    justify-content:center;

    align-items:center;

}



.contact-box{

    width:85%;

    max-width:1000px;


    display:flex;


    gap:50px;


    padding:50px;


    background:#0d0d0d;


    border-radius:20px;


    box-shadow:

    0 15px 35px rgba(0,0,0,.8),

    inset 0 0 25px rgba(0,255,102,.08);


}




.contact-text{

    flex:1;

}



.contact-text h1{

    font-size:45px;

    margin-bottom:20px;

}




.contact-text p{

    color:#ccc;

    line-height:1.6;

}




.info{

    margin-top:30px;

}



.info p{

    margin:15px 0;

    color:#00ff66;

}




form{

    flex:1;

    display:flex;

    flex-direction:column;


    gap:20px;

}



input,
textarea{


    width:100%;


    padding:15px;


    background:black;


    border:1px solid #333;


    color:white;


    border-radius:10px;


    outline:none;


}



textarea{

    height:130px;

    resize:none;

}




input:focus,
textarea:focus{

    border-color:#00ff66;

}




button{


    padding:15px;


    border:none;


    background:#00ff66;


    color:black;


    font-size:17px;


    font-weight:bold;


    border-radius:30px;


    cursor:pointer;


    transition:.3s;


}



button:hover{


    background:white;


}



/* =====================
       MOBILE DESIGN
===================== */


@media(max-width:900px){


    nav{

        padding:0 5%;

    }


    nav ul{

        gap:15px;

    }


    .home-text h1{

        font-size:40px;

    }


    .contact-box{

        flex-direction:column;

    }


}