*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;
background:#0f172a;
color:white;

}

/* =====================
NAVBAR
===================== */

header{

padding:30px 8%;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-size:28px;
font-weight:700;
letter-spacing:2px;

}

.logo span{

color:#38bdf8;

}

nav ul{

display:flex;
list-style:none;
gap:35px;

}

nav a{

text-decoration:none;
color:#cbd5e1;
transition:.3s;

}

nav a:hover,
.active{

color:#38bdf8;

}

/* =====================
CONTACT
===================== */

.contact{

min-height:85vh;

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

padding:40px 8%;

}

/* LEFT */

.contact-info{

flex:1;

}

.contact-info h5{

color:#38bdf8;

letter-spacing:3px;

margin-bottom:15px;

}

.contact-info h1{

font-size:55px;

margin-bottom:20px;

}

.contact-info p{

color:#cbd5e1;

line-height:1.8;

margin-bottom:35px;

max-width:520px;

}

.details{

display:flex;

flex-direction:column;

gap:20px;

}

.detail{

background:rgba(30,41,59,.8);

padding:20px;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.detail:hover{

transform:translateX(10px);

border-color:#38bdf8;

}

.detail h3{

color:#38bdf8;

margin-bottom:8px;

}

/* RIGHT */

.contact-form{

flex:1;

background:rgba(30,41,59,.8);

padding:40px;

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.contact-form h2{

text-align:center;

color:#38bdf8;

margin-bottom:30px;

}

form{

display:flex;

flex-direction:column;

gap:18px;

}

input,
textarea{

padding:15px;

background:#0f172a;

border:1px solid #334155;

border-radius:12px;

font-size:15px;

color:white;

outline:none;

transition:.3s;

}

input:focus,
textarea:focus{

border-color:#38bdf8;

}

textarea{

height:150px;

resize:none;

}

button{

padding:15px;

background:#38bdf8;

color:#0f172a;

font-weight:600;

font-size:16px;

border:none;

border-radius:35px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:white;

transform:translateY(-5px);

}

/* =====================
RESPONSIVE
===================== */

@media(max-width:900px){

.contact{

flex-direction:column;

text-align:center;

}

.contact-info p{

margin:auto auto 35px;

}

.detail:hover{

transform:none;

}

}

@media(max-width:768px){

nav{

flex-direction:column;

gap:20px;

}

nav ul{

gap:20px;

flex-wrap:wrap;

justify-content:center;

}

.contact-info h1{

font-size:40px;

}

.contact-form{

width:100%;

padding:30px;

}

}

@media(max-width:500px){

.contact-info h1{

font-size:32px;

}

button{

width:100%;

}

}